[build]
builder = "DOCKERFILE"
dockerfilePath = "server/Dockerfile"

[deploy]    
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[services]]
name = "server"
